:root{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexEnd{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flexStart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.wallpaper{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/essentail/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    
}
nav{
    .navbarr{
        @include flexSpaceBetween();
        h2{
            @include flexStart();
        }
        border-radius: 0.3rem;
        
        padding: 1rem;
        background-color: rgb(11, 80, 177);
        .links{
            @include flexEnd();
            a{
                color: rgb(255, 255, 255);
                text-decoration: none;
                margin: 1rem;
            }
            a:hover{
                color :rgb(255, 255, 255);
                text-decoration: underline;
            }
        }
    }
}
.container{
    width: 100%;
}
/* .wrapper{
    @include flexCenter;
} */
.stepper{
    counter-reset: step;
    
    li{
        list-style-type: none;
        float: left;
        width: 33.33%;
        position: relative;
        text-align: center;
        
        &:before{
            content: counter(step);
            counter-increment: step;
            width: 30px;
            height: 30px;
            line-height: 26.5px;
            border: 1px solid rgb(255, 255, 255);
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: rgb(133, 133, 133) !important;
            
        }
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ddd !important;
            top: 15px;
            left: -50%;
            z-index: -1;

        }
        &:first-child:after{
            content: none;

        }
        &.active{
            color: #4CAF50 !important;

        }
        &.active:before{
            border-color: #4CAF50 !important;
            z-index: 10;

        }
        &.active + li:after{
            background-color: #4CAF50 !important;
            z-index: -1;

        }
    }
}

.end{
    @include flexEnd;
}

.quizz-card{
    background-color: #ffffff7d;   
    margin: 1rem;
    margin-top: 6rem;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    backdrop-filter: blur(1px);
    background-blend-mode: overlay;
    .question{
        @include flexCenter;
        margin: 1rem;
        font-weight: bolder;
        color: white;
    }
    .answers{
        flex-wrap: wrap;
        @include flexCenter;
        .card{
            width: 16rem;
            height: 11rem;
            border-radius: 1rem;
            margin: 1rem;
            background-color: rgb(53, 95, 153);
            @include flexCenter;
            padding: 0.5rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .answers{
        flex-direction: column;
        .card{
            width: 100% !important;
            height: 4rem !important;
            margin: 0rem !important;
            margin-bottom: 0.6rem !important;
            @include flexCenter;

        }
    }
    .wallpaper{
        height: 115vh;
    }
}

