button {
  display: none;
}

main {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 90%;
}

.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wallpaper {
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  background-image: linear-gradient(rgba(73, 51, 51, 0.5), rgba(0, 0, 0, 0.5)), url("../img/essentail/back1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

nav .navbarr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
  padding: 1rem;
  background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 52%, rgb(0, 212, 255) 100%);
}
nav .navbarr h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav .navbarr .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navbarr .links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 1rem;
}
nav .navbarr .links a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.container {
  width: 100%;
}

.stepper {
  counter-reset: step;
}
.stepper li {
  list-style-type: none;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
}
.stepper li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 26.5px;
  border: 1px solid rgb(255, 255, 255);
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: rgb(133, 133, 133) !important;
}
.stepper li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd !important;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.stepper li:first-child:after {
  content: none;
}
.stepper li.active {
  color: rgb(0, 236, 0) !important;
}
.stepper li.active:before {
  border-color: #4CAF50 !important;
  z-index: 10;
}
.stepper li.active + li:after {
  background-color: #4CAF50 !important;
  z-index: -1;
}

.quizz-card {
  background-color: rgba(94, 94, 94, 0.4901960784);
  margin: 1rem;
  margin-top: 9rem;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1px);
  background-blend-mode: overlay;
}
.quizz-card .question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-weight: bolder;
  color: white;
}
.quizz-card .answers {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quizz-card .answers .card {
  width: 16rem;
  color: aliceblue;
  height: 11rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: rgb(53, 95, 153);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}
.quizz-card .answers .card .correct {
  background-color: rgb(0, 123, 0);
}
.quizz-card .answers .card .false {
  background-color: rgb(162, 0, 0);
}

.option {
  color: antiquewhite;
  flex-wrap: wrap;
  width: 12rem;
  height: 9rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: rgb(53, 95, 153);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.true {
  background-color: rgb(0, 145, 0) !important;
}

.false {
  background-color: rgb(131, 0, 0) !important;
}

.justification {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(225, 255, 0);
  font-weight: 700;
}

.chosen {
  background-color: rgb(0, 134, 0) !important;
}

@media screen and (max-width: 780px) {
  .answers {
    flex-direction: column;
  }
  .answers .card {
    width: 100% !important;
    height: 6rem !important;
    margin: 0rem !important;
    margin-bottom: 0.6rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .answers .option {
    width: 80% !important;
    height: 6rem !important;
    margin: 0rem !important;
    margin-bottom: 0.6rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wallpaper {
    height: 150vh !important;
    background-attachment: fixed;
  }
}

/*# sourceMappingURL=style.css.map */
